Source: boot-local-kernel
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: boot-local-kernel
Architecture: all
Depends: kexec-tools
Section: core
Description: reboots to local kernel after booting from NFS
 boot-local-kernel starts early during the boot, detects did device boot from
 NFS and reboots to locally installed kernel using kexec if necessary.
